In [ ]:
import pandas as pd

dates = pd.read_csv('data/dates.csv')
dates.head(3)

In [23]:
movies = pd.read_csv('data/movies.csv')
movies.head(3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

In [ ]:
ratings1 = pd.read_csv('data/ratings1.csv')
ratings1.head(3)

In [ ]:
ratings2 = pd.read_csv('data/ratings2.csv')
ratings2.head(3)

In [ ]:
dates.info()

In [5]:
# Сколько уникальных пользователей в таблице ratings1?

ratings1['userId'].nunique()

274

In [ ]:
# В каком году было выставлено больше всего оценок?

dates['date'] = pd.to_datetime(dates['date'])
dates['year'] = dates['date'].dt.year
dates['year'].value_counts()

In [22]:
ratings = pd.concat([ratings1, ratings2])
display(ratings)

       userId  movieId  rating
0           1        1     4.0
1           1        3     4.0
2           1        6     4.0
3           1       47     5.0
4           1       50     5.0
...       ...      ...     ...
60831     610   166534     4.0
60832     610   168248     5.0
60833     610   168250     5.0
60834     610   168252     5.0
60835     610   170875     3.0

[100837 rows x 3 columns]

In [ ]:
ratings = pd.concat(
    [ratings1, ratings2],
    ignore_index=True
)
display(ratings)

In [ ]:
print('Число строк в таблице ratings: ', ratings.shape[0])
print('Число строк в таблице dates: ', dates.shape[0])
print(ratings.shape[0] == dates.shape[0])

In [ ]:
display(ratings1.tail(1))
display(ratings2.head(1))

In [ ]:
ratings = ratings.drop_duplicates(ignore_index=True)
print('Число строк в таблице ratings: ', ratings.shape[0])

In [ ]:
ratings_dates = pd.concat([ratings, dates], axis=1)
display(ratings_dates.tail(7))

In [ ]:
ratings_dates = ratings_dates.drop(['year'], axis=1)
display(ratings_dates.tail(7))

7. Объединение DataFrame: join, merge

In [ ]:
joined_false = ratings_dates.join(
    movies,
    rsuffix='_right',
    how='left'
)
display(joined_false)

In [ ]:
joined_false = ratings_dates.join(
    movies,
    lsuffix='_left',
    how='right'
)
display(joined_false)

In [ ]:
# Чтобы совместить таблицы по ключевому столбцу с помощью метода join(), необходимо использовать ключевой столбец в «правой» таблице в качестве индекса. 
# Это можно сделать с помощью метода set_index(). Также необходимо указать название ключа в параметре on.

joined = ratings_dates.join(
    movies.set_index('movieId'),
    on='movieId',
    how='left'
)
display(joined.head())

In [ ]:
print('Число строк в таблице ratings_dates: ', ratings_dates.shape[0])
print('Число строк в таблице joined: ', joined.shape[0])
print(ratings_dates.shape[0] == joined.shape[0])

МЕТОД ОБЪЕДИНЕНИЯ MERGE

In [25]:
merged = ratings_dates.merge(
    movies,
    on='movieId',
    how='left'
)
display(merged.head())

,userId,movieId,rating,date,title,genres
0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [ ]:
print('Число строк в таблице ratings_dates: ', ratings_dates.shape[0])
print('Число строк в таблице merged: ', merged.shape[0])
print(ratings_dates.shape[0] == merged.shape[0])