In [2]:
import pandas as pd

dates_df = pd.read_csv('data/dates.csv')
dates_df.head(3)

                  date
0  2000-07-30 18:45:03
1  2000-07-30 18:20:47
2  2000-07-30 18:37:04

In [3]:
movies_df = pd.read_csv('data/movies.csv')
movies_df.head(3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

In [4]:
ratings1_df = pd.read_csv('data/ratings1.csv')
ratings1_df.head(3)

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0

In [5]:
ratings2_df = pd.read_csv('data/ratings2.csv')
ratings2_df.head(3)

   userId  movieId  rating
0     274     5621     2.0
1     274     5630     3.0
2     274     5667     3.5

In [26]:
dates_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    100836 non-null  object
dtypes: object(1)
memory usage: 787.9+ KB

In [25]:
# Сколько уникальных пользователей в таблице ratings1?

ratings1_df['userId'].nunique()

274

In [ ]:
# В каком году было выставлено больше всего оценок?

dates_df['date'] = pd.to_datetime(dates_df['date'])
dates_df['year'] = dates_df['date'].dt.year
dates_df['year'].value_counts()