In [5]:
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv', sep=',')

In [6]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
student_data.info()

In [26]:
#Каков балл по письму у студента под индексом 155?
print(student_data.loc[155,'writing score'])

88

In [ ]:
#Сколько суммарно пропущенных значений в таблице?
import numpy as np

student_data[(student_data.iloc[:,:]) == np.nan].count()

In [ ]:
#Сколько столбцов в таблице имеет тип данных object?

student_data.info()

In [ ]:
#Каков у студентов средний балл по математике?
student_data['math score'].mean()

In [ ]:
#Какая расовая группа является самой крупной в учебном заведении?
student_data['race/ethnicity'].mode()

In [ ]:
#Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?
student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()

In [39]:
#Сколько студентов получили 0 баллов по математике?

student_data[student_data['math score'] == 0].shape[0]

1

In [ ]:
#Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
#В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.

print('Mean value for paid feeding', student_data[student_data['lunch'] == 'standard']['math score'].mean())
print('Mean value for free feeding', student_data[student_data['lunch'] == 'free/reduced']['math score'].mean())

In [ ]:
#Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?

student_data['parental level of education'].value_counts(normalize=True)

In [44]:
#Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?

group_a = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].quantile(0.5)
group_b = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].quantile(0.5)

print(group_a - group_b)

6.0